///Product Block
.inc_product_block {
  width: 260px;
  margin: auto 10px;
  box-sizing: border-box;
  height: auto;
  max-height: 100%;
  position: relative;
  background: #ffffff;
  padding-bottom: 12px;

  @include media_query("1268", "max") {
    margin: auto 10px;
  }

  @include media_query("1201", "max") {
    margin: auto 20px;
  }

  @include media_query("990", "max") {
    width: 230px;
  }

  @include media_query("820", "max") {
    margin: 0px !important;
    width: 100%;
    min-height: auto;
    padding: 6px 0px 15px;
  }

  .bundle-disable {
    position: absolute !important;
    left: 7px !important;
    top: 5px;

    z-index: 10 !important;
  }

  &.simple {
    .inc_product_variant_simple_block {
      display: none !important;
    }
  }

  .inc_product_info_main_block {
    @include media_query("820", "max") {
      display: flex;
      width: 100%;
    }

    //Image Block
    .inc_product_img_block {
      position: relative;
      padding: 0;

      .inc_product_extension_block {
        background: #bf9933;
        box-sizing: border-box;
        position: absolute;
        top: 0px;
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        text-align: center;
        text-transform: capitalize;
        color: $white;
        font-family: $font-family;
        // padding: 3px 8px;
        z-index: 1;

        @include media_query("820", "max") {
          left: 50px;
        }
      }

      @include media_query("820", "max") {
        flex-basis: 38%;
        padding: 0px 0px 0px 0px;
      }

      .inc_product_img_main_block {
        position: relative;

        @include media_query("820", "max") {
          height: 100%;
        }

        //Main Image
        .inc_product_img_main_img {
          height: 220px;
          margin-bottom: 10px;

          @include media_query("820", "max") {
            width: 100%;
            height: 102px;
            margin: 0;
          }

          @include media_query("376", "max") {
            height: 85px;
          }

          img {
            width: 100%;
            height: 100%;
            margin: auto;
            max-width: 100%;
            object-fit: contain;
            box-sizing: border-box;

            @include media_query("820", "max") {
              padding: 0 0 0 0px;
            }

            @media all and (-ms-high-contrast: none),
            (-ms-high-contrast: active) {
              width: auto;
            }
          }
        }

        //Zoom btn Block
        .inc_product_img_main_zoom_block {
          display: none;
        }
      }

      //Gallery Block
      .inc_product_img_gallery_block {
        display: none;

        .inc_producy_img_gallery_header_block {
          display: none;
        }

        .inc_product_img_gallery_left_block {
          display: none;
        }

        .inc_product_img_gallery_list_block {
          .inc_product_img_gallery_list_item_block {
            img {
              display: none;
            }
          }
        }

        .inc_product_img_gallery_right_block {
          display: none;
        }
      }
    }

    //Description Block
    .inc_product_desc_block {
      text-align: center;
      padding: 0 12px;

      @include media_query("850", "max") {
        padding: 0 5px;
      }

      @include media_query("820", "max") {
        flex-basis: 60%;
        padding: 0 6px 0 0;
      }

      .inc_product_desc_title_block {
        .inc_product_desc_title_text_block {
          .inc_product_desc_title_text_header {
            display: none;
          }

          .inc_product_desc_title_text {
            a {
              text-decoration: none;
              min-height: 40px;
              max-height: 40px;
              overflow: hidden;
              display: block;
              margin: 0px 0 5px;
              text-align: center;

              @include media_query("820", "max") {
                text-align: left;
                margin-bottom: 10px;
                min-height: auto;
              }

              div {
                -webkit-line-clamp: 2;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                font-family: $font-family;
                font-weight: 300;
                font-size: 16px;
                line-height: 20px;
                text-transform: capitalize;
                text-align: left;
                letter-spacing: 0.006em;
                color: $text_color_2;

                strong {
                  display: none;
                }

                @include media_query("820", "max") {
                  text-align: left;
                  font-weight: 500;
                  color: $text_color_1;
                }
              }
            }
          }
        }
      }

      .pc_promo_div {
        display: none;

        &.avail {
          display: block;
        }
      }

      .inc_product_desc_ecirp_block {
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
        margin: 8px 0 12px;

        flex-wrap: wrap;

        @include media_query("820", "max") {
          margin-bottom: 10px;
          align-items: baseline;
          min-height: unset;
        }

        @include media_query("385", "max") {}

        .inc_product_ecirp_label_block {
          order: 3;
          display: none;
        }

        &.is_special_ecirp {
          .inc_product_desc_ecirp_active_block {
            .inc_product_desc_ecirp_active_text_block {
              .inc_product_desc_ecirp_active_text {
                color: #2c2c2c;
              }
            }
          }

          .inc_product_desc_ecirp_worth_block {
            padding-left: 0;
          }
        }

        .inc_product_desc_ecirp_active_block {
          .inc_product_desc_ecirp_active_text_block {
            .inc_product_desc_ecirp_active_text {
              font-family: $font-family;

              font-weight: 500;
              font-size: 16px;
              line-height: 20px;

              text-align: center;
              letter-spacing: 0.006em;

              color: $price;
            }
          }
        }

        .inc_product_desc_ecirp_rrp_block {
          font-size: 12px;
          font-weight: 300;
          color: #2c2c2c;
          line-height: 15px;
          font-family: $font-family;
          padding: 0 5px;
        }

        .inc_product_desc_ecirp_worth_block {
          font-size: 12px;
          font-weight: 300;
          color: #c4122e;
          line-height: 15px;
          font-family: $font-family;

          @include media_query("361", "max") {
            font-size: 10px;
          }
        }

        .inc_product_desc_ecirp_regular_block {
          .inc_product_desc_ecirp_regular_text_block {
            .inc_product_desc_ecirp_regular_text {
              font-size: 12px;
              font-weight: 300;
              color: #2c2c2c;
              line-height: 15px;
              font-family: $font-family;
              padding: 0 5px;

              &:empty {
                display: none;
              }
            }
          }

          .inc_product_desc_ecirp_worth_block {
            font-weight: 300;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            letter-spacing: 0.006em;
            color: $red;
            padding-left: 5px;
          }
        }
      }

      .inc_product_desc_ratings_block {
        display: none;

        .rating_stars {
          @include media_query("420", "max") {
            width: 70px;
            min-width: 70px;
            height: 14px;
            background: url(../images/stars.svg) 1px -12px/70px no-repeat;

            &::before {
              background: url(../images/stars.svg) no-repeat 1px 1px/70px;
              height: 14px;
            }
          }
        }

        &.inc_hide {
          @include media_query("820", "max") {
            display: none;
          }
        }

        .rating_count {
          @include media_query("480", "max") {
            padding-left: 3px;
            font-weight: 400;
            font-size: 10px;
          }
        }
      }

      .inc_product_desc_info_block {
        display: none;
      }

      .inc_product_desc_pack_of_block {
        display: none;
      }

      .inc_collect_point_block {
        display: none;
      }

      .inc_product_details_prod_block {
        .inc_product_details_prod_text {
          display: none;
        }
      }

      .inc_product_variant_simple_block {
        &.added_inc {
          .inc_product_variant_simple_text {
            justify-content: center;
          }
        }

        &.inc_select {
          .inc_product_variant_simple_text {
            justify-content: center;

            &::after {
              display: none;
            }
          }
        }

        .inc_product_variant_simple_text {
          background: $primary_color;
          border: 1px solid $primary_color;
          box-sizing: border-box;
          padding: 10px;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: $white;
          opacity: 0;
          z-index: -99;
          visibility: hidden;
          pointer-events: none;
          position: relative;
          cursor: pointer;
          font-family: $font-family;
          max-height: 40px;
          min-height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            height: 24px;
            width: 24px;
            object-fit: contain;
            display: none;
            margin-right: 5px;
          }

          span {
            -webkit-line-clamp: 1;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            padding-right: 0;
            font-family: $font-family;

            letter-spacing: 0.006em;
            color: $white;
            text-transform: capitalize;
            text-align: center;

            @include media_query("820", "max") {
              line-height: 20px;
            }

            &:nth-child(1) {}
          }

          &.config {
            opacity: 1;
            z-index: 1;
            visibility: visible;
            pointer-events: all;
          }
        }
      }

      .inc_product_desc_att_block {
        display: none;

        .inc_product_desc_att_edit_block {
          display: none;
        }
      }

      .inc_product_desc_qty_add_btn_block {
        label {
          display: none;
        }

        &.simple {
          .inc_product_add_block {
            display: block;
            color: $white;
            border: 1px solid $primary_color;
            cursor: pointer;
            background: $primary_color;
            width: 100%;
            transition: 0.5s linear;

            &:hover {
              background-color: #2e4c1a;
              border-color: #2e4c1a;
            }

            .inc_product_add_text {
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              padding: 8px;
              max-height: 40px;

              min-height: 40px;
            }
          }

          &.added_inc {
            display: flex;
            justify-content: center;

            @include media_query("820", "max") {
              justify-content: flex-start;
            }

            .inc_product_qty_block {
              display: none;
              margin-bottom: 0px;

              &.singleqty {
                .inc_product_qty_down_block {
                  .inc_product_qty_down_btn_block {
                    .inc_product_qty_down_btn {}
                  }
                }
              }

              .inc_product_qty_down_block {
                .inc_product_qty_down_btn_block {
                  .inc_product_qty_down_btn {}
                }
              }

              .inc_product_qty_input_block {
                .inc_product_qty_input_text_block {
                  .inc_product_qty_input_text {
                    .inc_add_text {
                      display: none;
                    }

                    input {}
                  }
                }
              }

              .inc_product_qty_up_block {
                .inc_product_qty_up_btn_block {
                  .inc_product_qty_up_btn {}
                }
              }
            }
          }
        }

        .inc_product_add_block,
        .inc_product_add_collection_block {
          display: none;
        }
      }

      .inc_product_qty_block {
        display: none;
      }

      .inc_product_desc_add_block {
        .inc_product_desc_add_img_block {
          .inc_product_desc_add_img {
            background: #f6f6f6;
            border: 1px solid #a3a3a3;
            box-shadow: inset 0px 4px 4px #f6f6f6;
            position: absolute;
            width: 24px;
            height: 24px;
            top: 6px;
            right: 6px;
            cursor: pointer;

            &.checked {
              background: $primary_color url(../images/sprite.svg) -7px 0px/35px no-repeat;
              border-color: $primary_color;
              box-shadow: none;
            }

            @include media_query("930", "max") {
              right: 9px;
            }

            @include media_query("850", "max") {
              right: 4px;
              top: 4px;
            }

            @include media_query("820", "max") {
              right: auto;
              left: 2%;

              top: 37%;
            }

            @include media_query("480", "max") {
              left: 3%;
            }
          }
        }

        .inc_product_desc_add_text_block {
          display: none;
        }
      }
    }
  }
}

//Common QTY Styling

.inc_product_qty_block {
  display: flex;
  margin-bottom: 15px;

  &.singleqty {
    .inc_product_qty_down_block {
      .inc_product_qty_down_btn_block {
        .inc_product_qty_down_btn {
          //cursor: not-allowed;
        }
      }
    }
  }

  .inc_product_qty_down_block {
    .inc_product_qty_down_btn_block {
      .inc_product_qty_down_btn {
        width: 50px;
        height: 50px;
        border: 1px solid $border_color_2;
        background: #fff url(../images/sprite.svg) 4px -357px/37px no-repeat;
        margin-right: 0;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
      }
    }
  }

  .inc_product_qty_input_block {
    .inc_product_qty_input_text_block {
      .inc_product_qty_input_text {
        input {
          min-width: 50px;
          max-width: 50px;
          height: 50px;
          border: 1px solid $border_color_2;
          text-align: center;
          margin-right: 2px;
          font-size: 18px;
          border-radius: 0;
          outline: none;
          margin: 0;
          margin-right: 0;
          background-color: #ffffff;

          text-transform: uppercase;
          color: $text_color_2;
          font-family: $font-family;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          margin: 0 5px;
          padding: 0;
        }
      }
    }
  }

  .inc_product_qty_up_block {
    &.maxqty {
      .inc_product_qty_up_btn_block {
        .inc_product_qty_up_btn {
          // cursor: not-allowed;
        }
      }
    }

    .inc_product_qty_up_btn_block {
      .inc_product_qty_up_btn {
        width: 50px;
        height: 50px;
        border: 1px solid $border_color_2;
        background: #fff url(../images/sprite.svg) 6px -391px/36px no-repeat;
        cursor: pointer;
      }
    }
  }
}